In [1]:
import pandas as pd

In [2]:
!ls ../data

'ingredients - Sheet1.csv'

In [3]:
df = pd.read_csv('../data/ingredients - Sheet1.csv')

In [4]:
df.head()

                                         ingredients
0  1 cup pineapple chunks • 1 cup coconut milk • ...
1  1½ cups coconut milk • 3 bananas • 6 dates, se...
2  1 cup coconut water • 1 cup chopped spinach • ...
3  2 cucumbers, chopped • 2 carrots, grated • 2 t...
4  ¾ cup soaked brown rice • 6 cups water • 1 cup...

In [5]:
import pymongo

In [6]:
import pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

# uri = "mongodb+srv://gauravchopracg:07aug1998@cluster0.1tjlccb.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient()

database = 'ingredients'
collection = 'ingredients'

In [7]:
db = client[database]
db.ingredients.insert_many(df.to_dict('records'))